# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.gitignore
/compiler.xml
/dataSources.xml
/encodings.xml
/jarRepositories.xml
/MarsCodeWorkspaceAppSettings.xml
/misc.xml
/modules.xml
/sqldialects.xml
/uiDesigner.xml
/vcs.xml
